div#title {
	margin-bottom:15px;
	color:#ff8d00;
	font-family:Verdana;
	font-size:100px;
	text-align:center;
}

div#back,div#result {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	width:500px;
	height:320px;
}

div#back {
	background-color:white;
	border:5px solid #e7da57;
	border-radius:20px;
	opacity:0.8;
	filter:alpha(opacity=80);
}

div#result {
	line-height:320px;
	color:#ff8d00;
	font-family:Verdana;
	font-size:100px;
	text-align:center;
	vertical-align:middle;
}

table {
	width:300px;
	margin-right:auto;
	margin-left:auto;
}

td>div {
	width:100px;
	height:100px;
	line-height:94px;
	color:#ff8d00;
	font-family:Verdana;
	font-size:94px;
	text-align:center;
	vertical-align:middle;
	border-radius:5px;
}
div#e0 {
	border-right:3px solid #e7da57;
	border-bottom:3px solid #e7da57;
}
div#e1 {
	border-left:3px solid #e7da57;
	border-right:3px solid #e7da57;
	border-bottom:3px solid #e7da57;
}
div#e2 {
	border-left:3px solid #e7da57;
	border-bottom:3px solid #e7da57;
}
div#e3 {
	border-top:3px solid #e7da57;
	border-right:3px solid #e7da57;
	border-bottom:3px solid #e7da57;
}
div#e4 {
	border-top:3px solid #e7da57;
	border-left:3px solid #e7da57;
	border-right:3px solid #e7da57;
	border-bottom:3px solid #e7da57;
}
div#e5 {
	border-top:3px solid #e7da57;
	border-left:3px solid #e7da57;
	border-bottom:3px solid #e7da57;
}
div#e6 {
	border-top:3px solid #e7da57;
	border-right:3px solid #e7da57;
}
div#e7 {
	border-top:3px solid #e7da57;
	border-left:3px solid #e7da57;
	border-right:3px solid #e7da57;
}
div#e8 {
	border-top:3px solid #e7da57;
	border-left:3px solid #e7da57;
}